* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    color: black;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5e7eb;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar,
.header,
.footer {
    background-color: #1F2937;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    height: 70px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.navlinks {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9faf8;
}

.header p {
    color: #E5e7eb;
}

.header img,
.header .container div {
    width: 500px;
    height: 250px;
}

.header button {
    background-color: #3882f6;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0;
    border: none;
    margin: 15px 0px;
}

.boxes {
    height: 415px;
    text-align: center;
}

.boxes h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 30px 0;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.boxes .text {
    width: 200px;
}

.boxes .container img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
}


.quote .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.quote p {
    color: #1f2937;
    font-weight: light;
    font-size: 36px;
    font-style: italic;
}

.quote figcaption {
    font-weight: 900;
    font-size: 20px;
    color: #1f2937;
    text-align: end;
}

.signup {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #3882f6;
    padding: 70px 0px;
    border-radius: 8px;
}

.signup h2,
.signup p,
.signup button {
    color: white;
}

.signup button {
    background-color: #3882f6;
    border: solid 2px white;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0;
    margin: 15px 0px;
}

.signup p {
    font-weight: 300;
}

.footer {
    background-color: #1f2937;
}

.footer .container {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.footer div {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
}